
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  font-size: 1.4rem;
  font-weight: 600;
  color: test;
  &-brand {
  	font-size: 1.4rem;
  }
}
.navbar-nav .nav-item .nav-link {
	color: rgba(255, 255, 255, .85);
}

.dashboard {
	// position: relative;
	.infos {
		background: yellow;
		height: 50px;
	}
	.links-list {
		background: #cfcfcf;
		a {
			color: inherit;
			text-decoration: none;
		}
		.url-overview {
			padding: 15px;
			border-bottom: 1px solid #888;
			&.selected {
				background: white;
			}
		}
	}
	.link-info {
		word-break: break-all;
		background: white;
		padding: 10px;
		width: 100%;
		height: 100%;
		.close-btn {
			font-size: 2rem;
			background: none;
			border: none;
			padding: 0 10px;
		}
		@media screen and (max-width: 768px) {
			h1 {
				font-size: 1.4rem;
			}
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

}
